.route-link {
  text-decoration: none;
  padding: 8px;
  color: black;
  margin-top: 20px;
}

.nav {
  background-color: rgba(red, green, blue, 0.75);
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-item {
  padding: 2px;
}

.nav :hover {
  color: rgb(117, 114, 112);
}
.nav :focus {
  color: rgb(19, 19, 19);
  background-color: rgb(120, 123, 121);
  text-decoration: black;
  border-radius: 15px;
}
.main-route-link {
  margin-top: auto;
  text-decoration: none;
  padding-left: 6px;
  color: black;
  font-size: large;
}
.main-route-link:hover {
  color: rgb(79, 40, 40);
}

.main-route-link:focus {
  padding: 5px;
  background-color: rgb(205, 244, 255);
  border-radius: 20px;
}
